{% extends 'ishBeruvchi.html' %}
{% block dashboard %}
<div class="container">
    <div class="row">
        <div class="col-md-12 my-3">
            <div class="card shadow py-2 ">
                <h2 class="text-center">E'lonni <span class="text-primary">Tahrirlash</span></h2>
            </div>
        </div>
        <div class="col-md-10">
            <form action="" method="post">
                {% csrf_token %}
                <div class="form-group">
                    <label for="" class="form-label">Sohalar</label>
                    <select name="cats" id="" class="form-select">
                        {% for cat in cats %}
                        {% if cat.id == data.category.id %}
                        <option value="{{cat.id}}" selected>{{cat.name}}</option>
                        {% else %}
                        <option value="{{cat.id}}">{{cat.name}}</option>
                        {% endif %}
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group">
                    <label for="" class="form-label">Sarlavha</label>
                    <textarea name="title" cols="30" rows="3" class="form-control">{{data.title |safe}}</textarea>
                </div>
                <div class="form-group">
                    <label for="" class="form-label">E'lon Matni</label>
                    <textarea name="body" cols="30" rows="4" class="form-control">{{data.body |safe}}</textarea>
                </div>
                <div class="form-group">
                    <label for="" class="form-label">Manzil</label>
                    <textarea name="address" cols="30" rows="4" class="form-control">{{data.address |safe}}</textarea>
                </div>
                <div class="form-group">
                    <label for="" class="form-label">Telefon raqam</label>
                    <input type="text" class="form-control" name="phone" placeholder="Telefon raqam yozing"
                           pattern="[0-9]{9}" value="{{data.phone}}" required><br>
                </div>
                <div class="form-group">
                    <label for="" class="form-label">Joriy Holati</label>
                    <select name="condition" class="form-select">
                        <option value="Aktiv">Aktiv</option>
                        <option value="Yakunlandi">Yakunlandi</option>
                    </select>
                </div>
                <div class="form-group">
                    <input type="submit" value="Saqlash" class="btn btn-success mt-2">
                </div>
            </form>
        </div>
    </div>
</div>
{% if status %}
<script>
    alert("{{status}}")
    window.location="/myAnnouncement"
</script>
{% endif %}
{% endblock %}